body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    user-select: none; /* Отключает выделение текста */
    -webkit-user-select: none;
}

#coin-image {
    width: 80%; /* Coin now occupies most of the screen width */
    height: auto;
    cursor: pointer;
    margin-top: 20px;
}

#click-counter {
    font-size: 2rem;
    margin-top: 10px;
}

.energy-bar {
    width: 80%;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px; /* Rounded corners for energy bar */
    overflow: hidden;
    margin: 20px 0;
    position: relative;
}

.energy-fill {
    width: 100%;
    height: 100%;
    background-color: #76c7c0;
}

.energy-label {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

button {
    margin: 5px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.click-animation {
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
    pointer-events: none;
    animation: clickAnim 1s forwards;
}

@keyframes clickAnim {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.change-option {

    align-items: center;
    margin: 5px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.change-option img {
    margin-right: 10px; /* Space between image and text */
}
